{% extends 'base.html' %}
{% load customtags %}
{% load static %}

{% block link %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/posts/posts.css' %}">
{% endblock %}

{% block content %}
    <div class="post-media">
        {% if post.content.url|is_video %}
            <video controls>
                <source src="{{ post.content.url }}"></source>
            </video>
        {% elif post.content.url|is_image %}
            <img class="materialboxed" src="{{ post.content.url }}">
        {% endif %}
    </div>
    <div class="post-details">
        <div class="flex first-line">
            <h4>{{ post.title }}</h4>
            <div class="flex">
                <h4 class="small-margin-right">{{ post.likes.count }}</h4>
                <form method="post" action="{% url 'like-create' pk=post.pk %}">
                    {% csrf_token %}
                        {% if post.pk|is_like_author:request.user.pk %}
                            <button type="submit" class="like-btn active">❤</button>
                        {% else %}
                            <button type="submit" class="like-btn">❤</button>
                        {% endif %}
                    <input type="hidden" value="{{ post.pk }}" name="post">
                </form>
            </div>
        </div>
        <p class="description">{{ post.description }}<br>
            {% for tag in post.tags.all %}
                #{{ tag }}<br>
            {% endfor %}
        </p>
        <div class="comment-form">
            <form method="post" id="main-comment-form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="">✔</button>
            </form>
        </div>
        <p class="">
            {% include 'posts/post_comments.html' with comments=None|filter:post %}
        </p>
    </div>
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
    <script src="{% static 'js/posts/slides.js' %}"></script>
{% endblock %}