* {box-sizing: border-box}

.mySlides {display: none}
.post-media img, video {vertical-align: middle;
  width:100%;
  border-radius: 10px;
  max-height: 80vh;
  object-fit: contain;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.post-details .first-line {
  margin-right: 25%;
  justify-content: space-between;
}

.prev, .next, .more {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next, .prev {
  top: 50%;
}

.more {
  top: 0;
  right: 0;
  margin-top: 2px;
  color: white !important;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover, .more:hover {
  background-color: rgba(0,0,0,0.8);
  border-radius: 50%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.post-info {
  position: absolute;
  color: rgb(245, 170, 20);
  top: 15%;
  right: 0;
  margin-top: 2px;
  margin-right: 10px;
}

.likes {
  margin-top: 10px;
  display: flex;
  justify-self: center;
}

.post-info, .more {
  z-index: 5;
  margin-left: 5px !important;
}

.like-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  font-size: 300%;
  padding: 0;
  color: #717171;
}

.like-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: red;
}

.like-btn.active {
  color: red;
}

.like-btn.active:hover {
  color: #717171;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.post-details {
  color: rgb(245, 170, 20);
  margin-left: 25%;
}

.description {
  border: 1px solid white;
  padding: 10px;
  margin-right: 25%;
}

.comment {
  margin: 10px;
  margin-right: 25%;
  padding: 15px;
  border-radius: 10px;
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment-content {
  padding-left: 7px;
  margin-left: 5px;
  margin-top: 3px;
  border-left: 5px solid rgb(190, 130, 0);
}

.comment-form label {
  color: rgb(245, 170, 20);
}

div.comment-form {
  color: yellow;
  margin-left: 10px;
  padding-top: 30px;
}

.not-main {
  margin-left: 10% !important;
}

div.comment-form input {
  color: white !important;
}

.replied_comments {
  margin-left: 5%;
}

button.replies, button.answer {
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: rgb(245, 170, 20);
}

button.replies:hover, button.answer:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

empty {
  margin-left: 10%;
}

.like-btn.small {
  width: 30px;
  height: 30px;
  font-size: 150%;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
}


.menu {
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2%;
  margin-left: 80%;
  border-radius: 25px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu-button {
  background-color: transparent;
  color: rgb(245, 170, 20);
  border: none;
  border-radius: 50%;
}

.menu-button:hover {
  background-color: rgba(0, 0, 200, 0.5);
}

@media (max-width: 700px) {
  .post-details {
    margin-left: 5%;
  }

  .post-details .first-line {
    margin-left: 5%;
  }

  .description {
    margin-right: 5%;
  }

  .menu {
    margin-right: 60%;
  }
}

@media (max-width: 1024px) {
  .comment {
    margin-right: 15%;
  }
}
