{% extends 'base.html' %}
{% load markdownify %}
{% load markdown_extras %}
{% load static %}

{% block content %}
    <div class="hat">
        <div class="line">
            <div class="flex">
                {% if user.profile.logo %}
                    <img class="logo-img" src="{{ user.profile.logo.url }}" width="80px" height="80px">
                {% else %}
                    <img class="logo-img" src="{% static 'img/no_photo.png' %}" width="80px" height="80px">
                {% endif %}
                <h2>{{ user.username }}</h2>
            </div>
            <div class="flex">
                <small>created at: {{ user.profile.created_at }}<br>
                                    changed at: {{ user.profile.changed_at }}</small>
                <div>
                    <a href="{% url 'follow' pk=user.pk %}">Follow</a>
                    <a href="{% url 'message-list' user_pk=user.pk %}">Chat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="userinfo-body">
        <p class="title">
            Name: {{ user.first_name }} {{ user.last_name }}
        </p>
        <p class="title">
            Country: {{ user.profile.country.name }}
        </p>
        Description:
        <div class="description">
            {{ user.profile.description|markdownify|linebreaks }}
        </div>
    </div>
{% endblock %}