<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Edit message</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/css/materialize.min.css">
        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.24.0.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/chat/chat.css' %}">
    </head>
    <body id="comment-update-body">
        <div class="message-form">
            <form method="post">
                {% csrf_token %}
                {{ message_form.as_p }}
                <button type="submit">▷▶</button>
            </form>
            <form method="post">
                {% csrf_token %}
                {{ media_form.as_p }}
                <button type="submit">+</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/js/materialize.min.js"></script>
    </body>
</html>
