<!DOCTYPE html>
{% load static %}
{% load news %}

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/css/materialize.min.css">
        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.24.0.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block link %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}{% endblock %}

        {% if request.user.is_authenticated %}
            <div class="widgets">
                <a href="{% url 'post-list' %}" style="color: white;">🎞</a>
                    <empty class="white">|</empty>
                <a onclick="showMessages()">🔔</a>
            </div>

            <div class="closed news-list" id="message-list">
                {% for message in request|messages %}
                    <p>{{ message|safe }}<hr>
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/js/materialize.min.js"></script>
    </body>
</html>