{% extends 'base.html' %}

{% block content %}
<div class="form">
    <div class="center">
        <h2>{% block title %}{% endblock %}</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="red">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        {% if messages %}
            <div>
                {% for message in messages %}
                    <p class="red">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <button type="submit" class="submit-form">{% block button %}{% endblock %}</button>
    </form>
</div>
{% endblock %}